.import-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15rem auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
}

input[type="file"] {
    display: none;
}

#file_name {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.import-form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#file_input {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #333;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #0B1E5C;
    color: #ffffff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}