.import-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15rem auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
}




.custom-file-upload {
    font-size: 120%;
    font-family: 'Nunito';
    color: #ffffff;
    background-color: #0B1E5C;
    border: #0B1E5C;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}

#file_name {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

button {
    font-size: 120%;
    font-family: 'Nunito';
    color: #ffffff;
    background-color: #0B1E5C;
    border: #0B1E5C;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.import-form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-file-upload {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

#file_input {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #333;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #0B1E5C;
    color: #ffffff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}