/* Style pour la barre de recherche et les filtres */
.filters {
    display: flex;
    align-items: center;
    gap: 1em; /* Espacement entre les éléments */
    margin-bottom: 1em; /* Espacement avec le tableau */
    padding: 1em;
    background-color: #f9f9f9; /* Couleur de fond des filtres */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Style pour la barre de recherche */
.filters input[type="text"] {
    flex: 1;
    padding: 0.5em 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filters input[type="text"]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 4px var(--primary-color);
    outline: none;
}

/* Style pour les menus déroulants (filtres) */
.filters select {
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filters select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 4px var(--primary-color);
    outline: none;
}

/* Ajout de styles sur hover */
.filters input[type="text"]:hover,
.filters select:hover {
    border-color: #aaa;
}


/* Bouton de suppression sous forme d'icône */
.icon-button {
    background: none;
    border: none;
    color: #3f3f3f; /* Rouge */
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
}