{% extends 'etudiants/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/utilisateurs/etudiants/accueil.css' %}">
{% endblock %}

{% block content %}
    <div class="accueil">
        <div class="top-accueil">
            <h2>Bonjour, {{ user.prenom }} 👋 !</h2>
        </div>
        

        <p>QuickLab est votre solution intuitive et performante pour simplifier 
            la gestion des commandes au sein du département de chimie. Notre outil a été 
            conçu pour vous offrir une expérience fluide, efficace et adaptée à vos besoins.</p>

        <div class="informations">
            <h3>Derniers produits ajoutés</h3>
                <div class="box">
                    {% for produit in produits|slice:":2" %}
                        <div class="info-card">
                            <p>{{ produit.nom }}</p>
                            <p>{{ produit.date_ajout|date:"d/m/Y" }}</p>
                            <a href="{% url 'produits:produit' produit.id %}">Voir +</a>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}
