{% extends 'etudiants/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/utilisateurs/etudiants/accueil.css' %}">
{% endblock %}

{% block content %}
    <div class="accueil">
        <div class="top-accueil">
            <h2>Bonjour, {{ user.prenom }} 👋 !</h2>
        </div>
        

        <p>QuickLab est votre solution intuitive et performante pour simplifier 
            la gestion des commandes au sein du département de chimie. Notre outil a été 
            conçu pour vous offrir une expérience fluide, efficace et adaptée à vos besoins.</p>

        <div class="informations">
            <h2>Informations</h2>
            {% for produit in produits|slice:":4" %}
                <div class="box">
                    <div class="info-card">
                        <img src="{% static 'images/ajout.png' %}" alt="Ajout de produit">
                        <h3>{{ produit.date_ajout }}</h3>
                        <a href="">Voir +</a>
                    </div>
                    <div class="info-card">
                        <img src="{% static 'images/ajout.png' %}" alt="Ajout de produit">
                        <h3>{{ produit.date_ajout }}</h3>
                        <a href="">Voir +</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
