{% extends 'etudiants/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/utilisateurs/etudiants/compte.css' %}">
{% endblock %}

{% block content %}
    <div class="compte">
        <div class="info-compte">
            <div class="top-compte">
                <h3>Informations du compte</h3>
                <div>
                    <button class="bouton btn-action">Modifier le profil</button>
                    <button class="bouton btn-action">Changer le mot de passe</button>
                    <a class="bouton" href="{% url 'utilisateurs:deconnexion' %}">Se déconnecter</a>
                </div>
            </div>
            <ul>
                <li><strong>Email :</strong> {{ user.email }}</li>
            </ul>
        </div>
    </div>
{% endblock %}