{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/etudiants/header.css' %}">
{% endblock %}

<header class="header">
    <div class="top">
        <div class="logo">
            <a href="{% url 'utilisateurs:accueil' %}">
                QuickLab
            </a>
        </div>
        {% include 'etudiants/search_bar.html' %}
        <nav class="nav">
            <ul>
                <li><a href="{% url 'utilisateurs:accueil' %}">Accueil</a></li>
                <li><a href="{% url 'reservations:reservations' %}">Réservations</a></li>
                <li><a href="{% url 'paniers:panier' %}">Panier</a></li>
                <li><a href="{% url 'utilisateurs:mon_compte' %}">Compte</a></li>
            </ul>
        </nav>
    </div>
    <div class="top-mobile">
        <div class="nav">
            <div class="menu-burger">
                <img src="{% static 'images/etudiants/menu/menu_burger.png' %}" alt="menu">
            </div>
            <div class="logo">
                <a href="#">
                    QuickLab
                </a>
            </div>
            <div class="reservations">
                <a href="#">
                    <img src="{% static 'images/etudiants/menu/reservations.png' %}" alt="reservations">
                </a>
            </div>
        </div>
        {% include 'etudiants/search_bar.html' %}
    </div>
    <div class="bottom">
        <div class="filtres">
            <ul>
                <li><a href="{% url 'produits:produits' %}">Tous les produits</a></li>
                <li><a href="#" id="familles-bouton">Familles</a></li>
                <li><a href="#" id="services-bouton">Service</a></li>
            </ul>
        </div>
    </div>
    {% include 'etudiants/menu.html' %}
</header>

<!-- Popup Familles -->
<div id="popup-familles" class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-80 relative">
        <select name="filtre_famille" class="w-full p-2 border rounded">
            <option value="0" selected>Toutes les familles</option>
            {% for famille in familles %}
                <option value="{{ famille.id }}">{{ famille.nom }}</option>
            {% endfor %}
        </select>
        <button id="confirmer-bouton" class="w-full mt-4 p-2 bg-[var(--primary-color)] text-white rounded">Confirmer</button>
        <button id="annuler-bouton-familles" class="w-full mt-2 p-2 bg-red-500 text-white rounded">Annuler</button>
    </div>
</div>

<!-- Popup Services -->
<div id="popup-services" class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-80 relative">
        <select name="filtre_service" class="w-full p-2 border rounded">
            <option value="0" selected>Tous les services</option>
            {% for service in services %}
                <option value="{{ service.id }}">{{ service.nom }}</option>
            {% endfor %}
        </select>
        <button id="confirmer-bouton-service" class="w-full mt-4 p-2 bg-[var(--primary-color)] text-white rounded">Confirmer</button>
        <button id="annuler-bouton-services" class="w-full mt-2 p-2 bg-red-500 text-white rounded">Annuler</button>
    </div>
</div>

<script>
    var produitsUrl = "{% url 'produits:produits' %}";
</script>
<script src="{% static 'js/header.js' %}"></script>
