{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/etudiants/header.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/produits/etudiants/header.js' %}"></script>
{% endblock %}

<header class="header">
    <div class="top">
        <div class="logo">
            <a href="{% url 'produits:produits' %}">
                Quick Lab
            </a>
        </div>
        {% include 'etudiants/search_bar.html' %}
        <nav class="nav">
            <ul>
                <li><a href="{% url 'produits:produits' %}">Accueil</a></li>
                <li><a href="#">Réservations</a></li>
                {% if user.is_authenticated %}
                <li><a href="#">Déconnexion</a></li>
                {% else %}
                <li><a href="#">Connexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="top-mobile">
        <div class="nav">
            <div class="menu-burger">
                <img src="{% static 'images/etudiants/menu/menu_burger.png' %}" alt="menu">
            </div>
            <div class="logo">
                <a href="#">
                    Quick Lab
                </a>
            </div>
            <div class="reservations">
                <a href="#">
                    <img src="{% static 'images/etudiants/menu/reservations.png' %}" alt="reservations">
                </a>
            </div>
        </div>
        {% include 'etudiants/search_bar.html' %}
    </div>
    <div class="bottom">
        <div class="filtres">
            <ul>

                <li><a href="#">Tous les produits</a></li>
                <li><a href="#">Catégories</a></li>
                <li><a href="#">Disponible</a></li>
                <li><a href="#">Localisation</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Favoris</a></li>
            </ul>
        </div>
    </div>
    {% include 'etudiants/menu.html' %}
</header>

<script>
    const menu = document.querySelector('.menu');
    const menuBurger = document.querySelector('.menu-burger');
    const closeMenu = document.querySelector('.close-menu');

    menu.style.position = 'absolute'; 
    menu.style.top = '0';
    menu.style.left = '0';
    menu.style.width = '100%';
    menu.style.height = '100%';
    menu.style.zIndex = '1000';
    menu.style.display = 'none';
    menu.style.backgroundColor = 'white';

    menuBurger.addEventListener('click', () => {
        menu.style.display = 'block';
    });

    closeMenu.addEventListener('click', () => {
        menu.style.display = 'none';
    });
</script>