{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/etudiants/menu.css' %}">
{% endblock %}

<div class="menu">
    <div class="menu-header">
        <h1>QuickLab</h1>
        <button class="close-menu">&times;</button>
    </div>
    <hr />
    <div class="menu-links">
        <a href="{% url 'utilisateurs:accueil' %}"><img src="{% static 'images/etudiants/menu/home.png' %}" alt="Accueil"> Accueil</a>
        <a href="{% url 'reservations:reservations' %}"><img src="{% static 'images/etudiants/menu/reservations.png' %}" alt="Réservations"> Réservations</a>
        <a href="{% url 'paniers:panier' %}"><img src="{% static 'images/etudiants/menu/reservations.png' %}" alt="Panier"> Panier</a>
        <a href="{% url 'utilisateurs:mon_compte' %}"><img src="{% static 'images/etudiants/menu/profil.png' %}" alt="Compte"> Compte</a>
    </div>
    <hr />
</div>
