{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/etudiants/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/couleur.css' %}">
{% endblock %}

<div class="menu">
    <div class="menu-header">
        <h1>Quick Lab</h1>
        <button class="close-menu">&times;</button>
    </div>
    <hr />
    <div class="menu-links">
        <a href="#"><i class="icon-cart"></i> Réservations</a>
        <a href="#"><i class="icon-heart"></i> Favoris</a>
        <a href="#"><i class="icon-user"></i> Compte</a>
        <a href="#"><i class="icon-settings"></i> Paramètres</a>
    </div>
    <hr />
    <div class="menu-categories">
        <div class="category">
            <h2>Catégorie</h2>
            <ul class="list-category">
                <li><a href="#">tensio actif</a></li>
                <li><a href="#">tensio actif</a></li>
                <li><a href="#">tensio actif</a></li>
            </ul>
        </div>
        <div class="category">
            <h2>Localisation</h2>
            <ul class="list-localisation">
                <li><a href="#">tensio actif</a></li>
                <li><a href="#">tensio actif</a></li>
                <li><a href="#">tensio actif</a></li>
            </ul>
        </div>
        <div class="category">
            <h2>Service</h2>
            <ul class="list-service">
                <li><a href="#">tensio actif</a></li>
                <li><a href="#">tensio actif</a></li>
                <li><a href="#">tensio actif</a></li>
            </ul>
        </div>
    </div>
    <hr />
</div>
