{% extends 'etudiants/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/reservations/etudiants/reservations.css' %}">
{% endblock %}

{% block content %}
    <div class="top">
        <div>
            <h1 class="titre">QuickLab</h1>
            <h1 class="titre">Vos réservations</h1>
        </div>
    </div>

    <div class="reservation">
        {% for reservation in reservations %}
            <div class="reservations">
                <div class="box">
                    <h3>{{ reservation.id }}</h3>
                    <h3>{{ reservation.date }}</h3>
                    <h3>{{ reservation.titre }}</h3>
                    <h3>{{ reservation.etat }}</h3>
                    <a href="{% url 'detail_reservation' reservation.id %}">Détail de la réservation</a>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
