{% extends 'etudiants/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/reservations/etudiants/reservations.css' %}">
{% endblock %}

{% block content %}
    {% include 'etudiants/header.html' %}
    <div class="reservation-content">
        {% for reservation in reservations %}
            <div class="box">
                <p class="date" >{{ reservation.date }}</p>
                <h3>{{ reservation.titre }}</h3>
                <a href="{% url 'detail_reservation' reservation.id %}">Détail de la réservation</a>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
