.accueil h2{
    font-size: 3em;
    font-weight: bold;
    margin-left: 20px;
    color: var(--primary-color);
}

.accueil p{
    margin: 20px;
    margin-bottom: 40px;
    font-size: 1.2em;
}

.accueil li{
    font-size: 1.2em;
}

.nav{
    min-height: 4em;
}
