{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/importer.css' %}">
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file_input" class="custom-file-upload">Choisir un fichier</label>
    <input type="file" id="file_input" name="fichier" accept=".csv, .xlsx">
    <button type="submit">Importer</button>
</form>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}


{% endblock %}

