{% extends "preparateurs/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/preparateurs/produits.css' %}">
{% endblock %}

{% block content %}

<h2>Liste des produits</h2>

<form method="get" action="{% url 'produits:produits' %}">
    <div class="filters">
        <input type="text" name="q" placeholder="Rechercher un produit" value="{{ query }}">

        <select name="famille" title="Famille" multiple onchange="this.form.submit()">
            <option value="">Toutes les familles</option>
            {% for famille in familles %}
                <option value="{{ famille.id }}" {% if famille.id|stringformat:"s" in selected_famille %}selected{% endif %}>{{ famille.nom|capfirst  }}</option>
            {% endfor %}
        </select>

        <select name="fournisseur" title="Fournisseur" multiple onchange="this.form.submit()">
            <option value="">Tous les fournisseurs</option>
            {% for fournisseur in fournisseurs %}
                <option value="{{ fournisseur.id }}" {% if fournisseur.id|stringformat:"s" in selected_fournisseur %}selected{% endif %}>{{ fournisseur.nom|capfirst  }}</option>
            {% endfor %}
        </select>

        <select name="stockage" title="Stockage" multiple onchange="this.form.submit()">
            <option value="">Tous les stockages</option>
            {% for stockage in stockages %}
                <option value="{{ stockage.id }}" {% if stockage.id|stringformat:"s" in selected_stockage %}selected{% endif %}>{{ stockage.nom|capfirst }} ( {{ stockage.service.nom|capfirst }} )</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" name="action" value="exporter" class="btn">Exporter</button>
</form>

<div class="cadre-table-scroll">
    <table class="table-scroll">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Unité</th>
                <th>Fournisseur</th>
                <th>Famille</th>
                <th>Stockage</th>
                <th>Service</th>
            </tr>
        </thead>
        
        <tbody>
            {% for produit in produits %}
            <tr onclick="window.location.href='{% url 'produits:produit' produit.id %}'" style="cursor: pointer;">
            <td>{{ produit.nom }}</td>
            <td>{{ produit.get_quantite }}</td>
            <td>{{ produit.get_unite }}</td>
            <td>{{ produit.fournisseur.nom }}</td>
            <td>
                {% for famille in produit.familles.all %}
                {{ famille.nom|capfirst }}<br>
                {% endfor %}
            </td>
            <td>{{ produit.stockage.nom|capfirst  }}</td>
            <td>{{ produit.stockage.service.nom|capfirst  }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}



