{% extends "preparateurs/base.html" %}
{% load static %}

{% block content %}

<h1 class="text-2xl font-bold mb-4">Liste des réservations</h1>
<div class="cadre-table-scroll">
    <table class="table-scroll">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Etat</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Année</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.titre }}</td>
                <td>{{ reservation.get_etat_display }} </td>
                <td>{{ reservation.utilisateur.nom }}</td>
                <td>{{ reservation.utilisateur.prenom }}</td>
                <td>{{ reservation.utilisateur.annee }}</td>
                <td>{{ reservation.date|date:"d/m/Y H:i:s" }}</td>
                <td>
                    <a href="{% url 'reservations:reservation' reservation.id %}">Détails</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}