{% extends "preparateurs/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/reservations/preparateurs/reservation.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/reservations/preparateurs/reservation.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block content %}
    <div class="reservation">
        <div class="reservation-detail">
            <div class="reservation-info">
                <h1 class="text-2xl font-bold mb-4">{{ reservation.titre }}</h1>
                <p><strong>Date de réservation :</strong> {{ reservation.date|date:"d / m / Y H:i:s" }}</p>
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <input type="hidden" name="update_etat_reservation_lien" value="{% url 'reservations:modifier_reservation_etat' reservation.id %}">
                <select name="etat_reservation">
                    {% for k, etat in reservation.get_etats %}
                        <option value="{{ k }}"
                        {% if k == reservation.etat %}
                            selected
                        {% endif %}
                        >{{ etat }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="produits">
                <h3>Produits :</h3>
                <ul>
                    {% for produit_reservation in reservation.produits.all %}
                        <li>{{ produit_reservation.produit.nom }} - {{ produit_reservation.get_quantite }} {{ produit_reservation.get_unite }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="messagerie">
            <div class="messages">
                {% for message_reservation in messages %}
                    <div class="message">
                        {% if message_reservation.utilisateur.id == user.id %}
                            <div class="message-sent">
                        {% else %}
                            <div class="message-received">
                        {% endif %}

                            <p class="message-text">{{ message_reservation.message }}</p>
                        </div>
                        <p class="message-time">{{ message_reservation.date|date:"d M H:i" }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="input-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <input type="hidden" name="ajouter_message_reservation_lien" value="{% url 'reservations:ajouter_message_reservation' reservation.id %}">
                <input 
                    type="text" 
                    name="message" 
                    placeholder="Tapez votre message..."
                    onkeydown="if(event.key === 'Enter'){envoyerMessage();}" 
                >
                <button onclick="envoyerMessage();" class="send-btn">Envoyer</button>
            </div>
        </div>
    </div>
{% endblock %}