* {
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.page{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 70%;
}

.cadre-table-scroll{
    display: inline-block;
    height: 30em;
    overflow-y: scroll;
    width: 100%;
    scrollbar-color: var(--primary-color) var(--secondary-color);
}
.table-scroll thead th{
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
}
.table-scroll tfoot td{
    position: sticky;
    bottom: 0;
}
.table-scroll {
    width: 100%;
    border-collapse: collapse;
}
.table-scroll tbody td {
    padding: 12px;
    text-align: center;
    border-right: none;
    border-bottom: 1px solid black;
}