.header {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
    display: none;
}

/* Partie supérieure du header */
.header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 1%;
}


/* Logo */
.header .top .logo {
    margin-left: 3%;
}

.header .top .logo a {
    font-size: 3vw;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
}

/* Barre de recherche */
.header .top .search-bar {
    flex-grow: 1;
    margin: 0 5%;
}

/* Barre de navigation principale */
.header .top .nav {
    margin-right: 3%;
}

.header .top .nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header .top .nav ul li a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    transition: color 0.3s;
}

.header .top .nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.header .top .nav ul li a:hover {
    color: var(--primary-color, #1b1f54);
}

.header .top .nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Partie inférieure du header */
.header .bottom {
    padding: 1% 5%;
}

/* Filtres */
.header .bottom .filtres ul {
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: center;
    overflow-x: auto;
    padding: 10px 0;
    margin: 0;
}

.header .bottom .filtres ul::-webkit-scrollbar {
    height: 2px;
}

.header .bottom .filtres ul::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 1px;
}

.header .bottom .filtres ul::-webkit-scrollbar-track {
    background-color: #cccccc;
}

.header .bottom .filtres ul li a {
    font-size: 0.9rem;
    font-weight: 250;
    color: #0B2A8E;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    transition: color 0.3s;
}

.header .bottom .filtres ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #0B2A8E;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.header .bottom .filtres ul li a:hover {
    color: #0B2A8E;
}

.header .bottom .filtres ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Cacher la partie top-mobile sur les écrans larges */
.header .top-mobile {
    display: none;
}

/* Responsive design */
@media (max-width: 1010px) {
    .header .top .logo {
        margin-left: 0;
    }

    .header .top .search-bar {
        margin: 0 0.5% 0 1.5%;
    }

    .header .top .nav {
        margin-right: 0;
    }

    .header .top .nav ul {
        gap: 0;
    }
}

@media (max-width: 768px) {
    .header .top {
        display: none;
    }

    .header .top-mobile {
        display: block;
        padding: 10px 20px;
        background-color: #ffffff;
    }

    .header .top-mobile .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        margin: 2% 2% 4% 2%
    }

    .header .top-mobile .menu-burger img,
    .header .top-mobile .reservations img {
        width: 24px;
        height: 24px;
    }

    .header .top-mobile .logo a {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--primary-color);
        text-decoration: none;
    }

    .header .top-mobile .search-bar {
        margin: 0 5%;
    }

    .header .bottom .filtres ul {
        gap: 0;
        justify-content: flex-start;
        white-space: nowrap;
    }

    .header .bottom .filtres ul li {
        flex-shrink: 0;
        min-width: 120px;
    }

    .header .bottom .filtres ul li a {
        font-size: 0.8rem;
        text-align: center;
    }
}

