/* Style global du menu */
.menu {
    display: none;
    flex-direction: column;
    height: 100vh;
}

/* Header du menu */
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}


.menu-links img {
    width: 24px;
    height: 24px; 
    object-fit: contain; 
    margin-right: 3%;
}

.menu-header h1 {
    margin: 0;
}

.close-menu {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: #000000;
}

/* Ligne de séparation */
hr {
    border: 0.5px solid #ddd;
    margin: 10px 0;
}

/* Liens principaux */
.menu-links a {
    display: flex;
    font-weight: 700;
    align-items: center;
    padding: 15px 20px;
    margin-left: 5%;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.menu-links a:hover {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.menu-links i {
    margin-right: 10px;
    font-size: 1.2rem;
}

/* Section des catégories avec défilement */
.menu-categories {
    padding: 0 20px;
    margin-left: 7.5%;
    flex-grow: 1;
}

.category {
    margin-bottom: 20px;
}

.category h2 {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

/* Liste des éléments dans chaque catégorie */
.category ul {
    list-style: none;
    padding: 0;
    margin-left: 5%;
}

.category ul li {
    margin-bottom: 10px;
}

.category ul li a {
    font-size: 0.9rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.menu-categories::-webkit-scrollbar {
    width: 6px;
}

.menu-categories::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
