.dispo {
    color: green;
}

.non-dispo {
    color: red;
}


/* Liste des produits */
.produits {
    overflow-y: auto;
    scrollbar-width: thin;
    margin-top: 2%;
}

.produit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fourth-color);
    border-radius: 10px;
    padding: 0.5%;
    margin: 0 10% 1% 10%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.produit .left {
    display: flex;
    align-items: center;
    flex-basis: 45%;
    flex-grow: 0;
}

.produit .right {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-grow: 1;
}

.produit a {
    margin-right: 5%;
    text-decoration: none;
    font-size: 1rem;
    color: var(--primary-color);
    position: relative;
    transition: color 0.3s;
}

.produit a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.produit a:hover {
    color: var(--primary-color);
}

.produit a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.produit img {
    margin-left: 10%;
}

.produit h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.produit .produit-nom {
    margin-left: 5%;
    flex-grow: 1;
}

.produit .right h3 {
    margin-right: 10%;
}