.top-produit{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 2%;
}

.top-produit .mobile {
    display: none;
}

.boutons{
    display: flex;
    margin: 20px;
    z-index: 1;
    position: relative;
}

.boutons a {
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 10px;
}

.produit h2{
    color: var(--primary-color);
    margin: auto 0;
}

.produit{
    margin: 2%;
}

.produit > p {
    font-size: 1.1em;
    line-height: 1.5;
    text-align: justify;
    margin: 3%;
}

.details {
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
}

.details > div {
    text-align: center;
}

.details div p {
    font-size: 1.1em;
    margin-top: 5%;
}


@media (max-width: 768px) {
    .top-produit .mobile {
        display: block;
    }

    .top-produit .pc {
        display: none;
    }

    .boutons a {
        font-size: 0.7rem;
    }

    .produit h2{
        font-size: 1.3rem;
        margin-left: 3%;
    }

    .produit > p {
        font-size: 0.9rem;
    }

    .details {
        margin: 10% 12.5%;
        justify-content: space-between;
    }

    .details div p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .top-produit {
        margin: 2%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .boutons a {
        font-size: 0.6rem;
    }

    .produit h2{
        font-size: 1.2rem;
        margin: 2.5%;
    }

    .produit > p {
        font-size: 0.7rem;
        margin: 5%;
    }

    .details div p {
        font-size: 0.7rem;
    }

    .details {
        margin: 10% 5%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

#popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#popup label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#popup input[type="number"],
#popup select{
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}