{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - QuickLab</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/utilisateurs/connexion.css' %}">
</head>
<body>
    <div class="container">
        <div class="image-section">
            <img src="{% static 'images/image1.png' %}" alt="Laboratoire">
        </div>
        <div class="form-section">
            <div>
                <h2>QuickLab</h2>
                <form method="post" action="{% url 'utilisateurs:connexion' %}">
                    {% csrf_token %}
                    <div class="username">
                        <label for="username">Identifiant</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="password">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="forgot__password">
                        <a href="#" id="forgotPasswordLink">MOT DE PASSE OUBLIÉ ?</a>
                    </div>
                    <div class="bouton__connexion">
                        <button type="submit">SE CONNECTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Popup pour la récupération du mot de passe -->
    <div id="forgotPasswordModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Réinitialisation du mot de passe</h3>
            <p>Veuillez entrer votre adresse e-mail :</p>
            <form id="forgotPasswordForm" method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}
                <input type="email" name="email" id="resetEmail" placeholder="Votre email" required>
                <button type="submit" id="resetBouton">Envoyer</button>
            </form>
        </div>
    </div>

    <script src="{% static 'js/connexion.js' %}"></script>
</body>
</html>
