{% extends 'etudiants/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/paniers/etudiants/panier.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'js/paniers/etudiants/panier.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block content %}
    <div class="panier">
        {% if panier.produits.count > 0 %}
            <h1>Votre panier</h1>
            <div class="produits">
                {% for produit_panier in panier.produits.all %}
                    <div class="produit">
                        <div class="left">
                            <h3>{{ produit_panier.produit.nom }}</h3>
                            <h4>{{ produit_panier.produit.famille.nom }}</h4>
                        </div>
                        <div class="right">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                            <input type="hidden" name="update-lien" value="{% url 'modifier_quantite_panier' produit_panier.id %}">
                            <input id="quantite-input" type="number" name="quantite" value="{{ produit_panier.get_quantite }}" class="quantite-input">
                            <select name="unite" class="unite-input">
                                {% for unite in produit_panier.produit.get_unites %}
                                    <option value="{{ unite }}" {% if unite == produit_panier.get_unite %}selected{% endif %}>{{ unite }}</option>
                                {% endfor %}
                            </select>
                            <a href="{% url 'suppression_panier' produit_panier.produit.id %}">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="action">
                <a class="bouton" id="reserver-bouton">Reserver</a>
            </div>

            <div id="popup" style="display: none;">
                <form action="{% url 'reserver_panier' %}" method="GET">
                    {% csrf_token %}
                    <label for="titre">Titre de la réservation:</label>
                    <input type="text" id="titre" name="titre">
                    <button id="confirmer-bouton" class="bouton">Confirmer</button>
                </form>
            </div>

            <script>
                document.getElementById("reserver-bouton").addEventListener("click", function() {
                    document.getElementById("popup").style.display = "block";
                });
            
                document.getElementById("confirmer-bouton").addEventListener("click", function() {
                    document.getElementById("popup").style.display = "none";
                });
            </script>

        {% else %}
            <h1>Votre panier est vide</h1>
        {% endif %}
    </div>
{% endblock %}