@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

:root{
    --primary-color: #0B1E5C;
    --secondary-color: #FFFFFF;
    --third-color: #D9E7F0;
    --fourth-color: #F5F5F5;
    --fifth-color: #EAE6E6;
}

.cadre-table-scroll{
    display: inline-block;
    height: 30em;
    overflow-y: scroll;
    width: 100%;
    scrollbar-color: var(--primary-color) var(--secondary-color);
}
.table-scroll thead th{
    position: sticky;
    top: 0;
    background-color: white;
}
.table-scroll tfoot td{
    position: sticky;
    bottom: 0;
}
.table-scroll {
    width: 100%;
    border-collapse: collapse;
}
.table-scroll tbody td {
    padding: 12px;
    text-align: center;
    border-right: none;
    border-bottom: 1px solid black;
}

.bouton{
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.etat-annule, 
.etat-refuse, 
.etat-pre_reservation_refuse{
    background-color: #ff4d4d;
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.etat-attente, 
.etat-pre_reservation_attente, 
.attente_recuperation{
    background-color: #ffa500;
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.etat-valide, 
.etat-termine{
    background-color: #28a745;
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}