{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/utilisateurs/importer_utilisateur.css' %}">
{% endblock %}

{% block content %}
<h1>Importer des utilisateurs</h1>

<form method="post" enctype="multipart/form-data" class="import-form">
    {% csrf_token %}
    <label for="file_input" class="custom-file-upload">Choisir un fichier</label>
    <input type="file" id="file_input" name="fichier" accept=".csv, .xlsx" onchange="updateFileName()">
    <span id="file_name">Aucun fichier sélectionné</span>
    <button type="submit">Prévisualiser</button>
</form>

{% if utilisateurs_preview %}
<h2>Prévisualisation des utilisateurs</h2>
<p><strong>Total des utilisateurs trouvés :</strong> {{ utilisateurs_preview|length }}</p>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="importer" value="true">
    <label for="annee">Sélectionnez l'année :</label>
    <select name="annee" id="annee" required>
        <option value="1ère année">1ère année</option>
        <option value="2ème année">2ème année</option>
        <option value="3ème année">3ème année</option>
    </select>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Groupe</th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs_preview %}
            <tr>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.groupe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Importer dans la base de données</button>
</form>
{% endif %}
<script>
    function updateFileName() {
        const fileInput = document.getElementById('file_input');
        const fileNameSpan = document.getElementById('file_name');
        fileNameSpan.textContent = fileInput.files[0].name;
    }
</script>
{% endblock %}