{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/utilisateurs/importer_utilisateur.css' %}">
{% endblock %}

{% block content %}
<h1>Importer des utilisateurs</h1>

<form method="post" class="import-utilisateurs" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.fichier.label_tag }}</td>
        </tr>
        <tr>
            <td>{{ form.fichier }}</td>
        </tr>
        <tr>
            <td class="center-button">
                <button>Importer</button>
            </td>
        </tr>
    </table>
{% endblock %}
