{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block content %}

<div class="cadre-table-scroll">
    <table class="table-scroll">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prémon</th>
                <th>email</th>
                <th>role</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Role</th>
                <th>Dernière connexion</th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.role }}</td>
                <td>
                    {% if utilisateur.last_login %}
                        {{ utilisateur.last_login|date:"d/m/Y H:i" }}
                    {% else %}
                        Jamais connecté
                    {% endif %}
                </td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}