{% extends "preparateurs/base.html" %}

{% load static %}



{% block content %}

<h1>Statistiques</h1>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script id="data-statistiques" type="application/json">
    {{ data_statistiques|safe }}
</script>

<script src="{% static 'js/preparateurs/statistiques.js' %}"></script>

<h2>Étudiants connectés</h2>

<canvas id="chartEtudiantsConnexions"></canvas>

<h2>Réservations des étudiants</h2>

<canvas id="chartReservationsEtudiants"></canvas>

{% endblock %}