<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <h2>Inscription</h2>
    <form method="post" action="{% url 'inscription' %}">
        {% csrf_token %}
        <div class="username">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="email">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="password">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="password_confirmation">
            <label for="password_confirmation">Confirmer le mot de passe :</label>
            <input type="password" id="password_confirmation" name="password_confirmation" required>
        </div>
        <div class="bouton__inscrire">
            <button type="submit">S'inscrire</button>
        </div>
    </form>
    <p>Déjà inscrit ? <a href="{% url 'connexion' %}">Se connecter</a></p>
</body>
</html>
