{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}{% endblock %}
    {% block js %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/preparateurs/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>{{ titre }}</title>
</head>
<body>
    <div class="page">
        {% include 'preparateurs/menu.html' %}
        <div class="right-page">
            <div class="nav">
                <h1 class="titre"><a href="{% url 'utilisateurs:accueil' %}">{{titre}}</a></h1>
                <ul class="button">
                    <li>
                        <a href="{% url 'utilisateurs:statistiques' %}" title="Statistiques">
                            <i class="fas fa-chart-bar"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'utilisateurs:mon_compte' %}">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>