{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

<div class="menu">
    <ul>
        <li class="titre">Produits</li>
        <li class="sous-titre"><a href="">Ajouter un produit</a></li>
        <li class="sous-titre"><a href="{% url 'produits:importer_produits' %}">Importer des produits</a></li>
        <li class="sous-titre"><a href="{% url 'produits:produits' %}">Liste des produits</a></li>
        <li class="titre">Réservations</li>
        <li class="sous-titre"><a href="{% url 'reservations' %}">Gestion des réservations</a></li>
        <li class="titre">Étudiants</li>
        <li class="sous-titre"><a href="{% url 'utilisateurs:liste_utilisateurs' %}">Liste des étudiants</a></li>
        <li class="sous-titre"><a href="{% url 'utilisateurs:ajouter_utilisateur' %}">Ajouter un étudiant</a></li>
        <li class="sous-titre"><a href="{% url 'utilisateurs:importer_utilisateurs' %}">Importer des étudiants</a></li>
        <li class="titre">Stockage</li>
        <li class="sous-titre"><a href="">Liste des stockages</a></li>
        <li class="sous-titre"><a href="">Ajouter un stockage</a></li>
    </ul>
</div>