{% extends 'etudiants/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/produits/etudiants/produit.css' %}">
{% endblock %}

{% block content %}
{% include 'etudiants/header.html' %}
<div class="info-produit-container">
    <div class="produit">
        <div class="produit-header">
            <h2>{{ produit.nom }}</h2>
            <div class="boutons">
                <a href="#" class="action-button">Favoris</a>
                <a href="{% url 'ajout_panier' produit.id %}" class="action-button">Réserver</a>
            </div>
        </div>
        <div class="produit-details">
            <p><strong>Stock :</strong> {{ produit.quantite }}</p>
            <p><strong>Localisation :</strong> {{ produit.stockage.nom }}</p>
        </div>
    </div>
</div>
{% endblock %}