{% extends 'etudiants/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/produits/etudiants/produit.css' %}">
{% endblock %}

{% block content %}
    <div class="top">
        <div>
            <a href="{% url 'produits' %}">Retour</a>
            <h1 class="titre">QuickLab</h1>
        </div>

        <div class="boutons">
            <a href="">Favoris</a>
            <a href="">Réserver</a>
        </div>
    </div>
    <div class="produit">
        <h2>{{ produit.nom }}</h2>
        <p>Description : {{ produit.description }}</p>
        <p>Quantité disponible : {{ produit.quantite }}</p>
        <p>Localisation : {{ produit.stockage.nom }}</p>
    </div>
{% endblock %}