/* Styles généraux */
.header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.back-button {
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    color: #333;
}

.header h2 {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.reservation-info {
    padding: 20px;
    text-align: center;
}

.etat {
    font-size: 18px;
    color: #5cb85c;
    margin: 10px 0;
}

.products {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.products h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.products ul {
    list-style-type: none;
    padding: 0;
}

.products li {
    font-size: 16px;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
    .back-button {
        font-size: 18px;
    }

    .header h2 {
        font-size: 16px;
    }

    .reservation-info {
        padding: 15px;
    }

    .reservation-info h1 {
        font-size: 20px;
    }

    .etat {
        font-size: 16px;
    }

    .products {
        padding: 15px;
    }

    .products h3 {
        font-size: 18px;
    }

    .products li {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 5px;
    }

    .back-button {
        font-size: 16px;
    }

    .header h2 {
        font-size: 14px;
    }

    .reservation-info {
        padding: 10px;
    }

    .reservation-info h1 {
        font-size: 18px;
    }

    .etat {
        font-size: 14px;
    }

    .products {
        padding: 10px;
    }

    .products h3 {
        font-size: 16px;
    }

    .products li {
        font-size: 12px;
    }
}