.reservation-info {
    margin-top: 3%;
    padding: 20px;
    text-align: center;
}

.etat {
    font-size: 18px;
    color: #5cb85c;
    margin: 10px 0;
}

.products {
    margin: 0 10%;
    padding: 2%;
    background-color: #f9f9f9;
    border-radius: 10px;
    max-height: 45vh;
    overflow-y: auto;
}

.products h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.products ul {
    list-style-type: none;
    padding: 0;
}

.products li {
    font-size: 16px;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
    .reservation-info {
        padding: 15px;
    }

    .reservation-info h1 {
        font-size: 20px;
    }

    .etat {
        font-size: 16px;
    }

    .products {
        padding: 15px;
    }

    .products h3 {
        font-size: 18px;
    }

    .products li {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .reservation-info {
        padding: 10px;
    }

    .reservation-info h1 {
        font-size: 18px;
    }

    .etat {
        font-size: 14px;
    }

    .products {
        margin: 5%;
        padding: 2%;
        background-color: #f9f9f9;
        border-radius: 10px;
    }

    .products h3 {
        font-size: 16px;
    }

    .products li {
        font-size: 12px;
    }
    
    p {
        font-size: 13px;
    }
}