.content .top{
    flex-basis: 25%;
}

/* Style des réservations */
.reservation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.reservations .box {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reservations .box h3 {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.reservations .box h3:first-child {
    font-weight: bold;
}

.reservations .box h3:nth-child(2) {
    color: #555;
}

.reservations .box h3:nth-child(4) {
    color: #3b5998;
    font-weight: bold;
}

/* Bouton Détail */
.reservations .box a {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: white;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.reservations .box a:hover {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid #333;
}