.closeMessagerie {
    display: none;
}

@media (max-width: 768px) {
    .closeMessagerie {
        display: block;
    }

    .space-x-4 > :not([hidden]) ~ :not([hidden]) { 
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .messagerie {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 400px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        z-index: 100;
    }
    
    .messagerie-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99;
        margin-left: 0 !important;
    }
    
    
    .messagerie.active, .messagerie-overlay.active {
        display: block;
    }

    .reservation-detail {
        display: none;
    }
}
